<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask App</title>
    <style>
        body {
            background-color: {{ color }};
            font-family: 'Arial', sans-serif; /* Specify your preferred font-family */
        }

        div {
            margin: 20px;
        }

        p {
            font-size: 18px; /* Adjust the font size as needed */
            color: #333;
        }
    </style>
</head>
<body>
    <div>
        <p>{{ message }}</p>
    </div>
</body>
</html>
